---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  performance-*,
  -performance-no-int-to-ptr,
  -performance-enum-size
WarningsAsErrors: '*'
HeaderFilterRegex: '/schnelle-zeichen/(src|tests)/.*\.h$'
FormatStyle: none
